.gameover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden !important;
    background-image: 
        url('../../src/game/assets/cloud.png'),
        url('../../src/game/assets/cloud1.png'),
        url('../../src/game/assets/cloud2.png'),
        url('../../src/game/assets/cloud3.png'),
        url('../../src/game/assets/bac.png');
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size: 
        100vw 25vh,
        55vw 10vh,
        55vw 10vh,
        55vw 10vh,
        100vw 100vh;
    background-position: 
        bottom,
        65vw 20%,
        -20vw 40%,
        75vw 60%,
        center;
}

.gameover-container .btn-container {
    display: flex;
    flex: 0 0 70vh;
    flex-direction: column;
}

.gameover-container .btn-container button {
    flex-grow: 1;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: none;
    min-width: 8em;
    margin: 1.5em 0;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ant-modal-body div{
    display: flex;
    width: 100%;
}

.ant-modal-body div span {
    text-align: center;
}

.ant-modal-body div span:nth-child(1), 
.ant-modal-body div span:nth-child(3) {
    flex-grow: 2;
    flex-shrink: 0;
}

.ant-modal-body div span:nth-child(2) {
    flex-grow: 3;
    flex-shrink: 0;
}

.highlight tbody tr:nth-child(-n+3) {
    background: #ffdf65 !important;
    font-weight: 700;
}

#picArea {
    display: flex;
    flex-direction: column;
}

#userInfo,
#qrCode,
.saveMeBtn {
    flex: auto;
}

.saveMeBtn {
    width: 50%;
    align-self: center;
}