#usernameInputContainer {
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 421px;
    height: 12vmin;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#usernameInput {
    width: 65%;
    height: 100%;
    border-radius: 12vmin;
    text-indent: 2em;
}

.alert {
    display: none;
    position: absolute;
    width: 300px;
    height: 160px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: red;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.IOSBtn {
    display: none;
    position: absolute;
    width: 25vmin;
    height: 16vmin;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
