.gameover-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../src/game/assets/merryChristmas.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center;
}

.gameover-container .msg {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.gameover-container .btn-container {
    display: flex;
    flex-direction: column;
    flex: 4 0 auto;
}

.gameover-container .btn-container button {
    flex-grow: 1;
    font-size: 28px;
    font-weight: 700;
    min-width: 8em;
    margin: 1.5em 0;
}

.gameover-container .btn-container .btn {
    background: linear-gradient(30deg, rgb(255,132,124), rgb(232,74,95));
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ant-modal-body div{
    display: flex;
    width: 100%;
}

.ant-modal-body div span {
    text-align: center;
}

.ant-modal-body div span:nth-child(1), 
.ant-modal-body div span:nth-child(3) {
    flex-grow: 2;
    flex-shrink: 0;
}

.ant-modal-body div span:nth-child(2) {
    flex-grow: 3;
    flex-shrink: 0;
}

.highlight tbody tr:nth-child(-n+3) {
    background: #ffdf65 !important;
    font-weight: 700;
}

#picArea {
    display: flex;
    flex-direction: column;
}

#userInfo,
#qrCode,
.saveMeBtn {
    flex: auto;
}

.saveMeBtn {
    width: 50%;
    align-self: center;
}